@charset "UTF-8";
button {
    -webkit-appearance: none;
}

.container {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    background-color:#000000;
    box-sizing: content-box;
}

.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.live-title {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#viewer-num {
    margin-right: 30px;
    color: #ffffff;
    font-weight: bold;
}

#js-local-stream {
    max-width: 600px;
    opacity: 0.5;
}

#js-leave-trigger {
    cursor: pointer;
    visibility: hidden;
    margin-right: 10px;
    width: 50px;
    height: 30px;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
}

#js-join-trigger {
    cursor: pointer;
    margin-top: 15px;
    width: 100px;
    height: 27px;
}

.message-box {
    height: 300px;
}

.messages {
    height: 250px;
    overflow-y: scroll;
    font-size: 15px;
    color: #ffffff;
    margin: 10px;
    line-height: 2;
}

.send {
    display: flex;
}

#js-name {
    margin: 0 10px;
}

#js-local-text {
    width: 360px;
    margin-right: 10px;
}

.messages::-webkit-scrollbar {
    width: 10px;
}

.messages::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #6a6767;
}

#js-send-trigger {
    cursor: pointer;
}