@charset "UTF-8";

a:hover,.start-btn:hover{
    opacity: 0.8;
}

.header .container {
    height: 50px;
}


.container {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    background-color:#ffffff;
    border: 1px solid #000000;
    box-sizing: content-box;
}

.start {
    height: 200px;
}

.start-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-btn {
    width: 50%;
    height: 60px;
    font-size: 20px;
    color: #ffffff;
    background-color: #1dcfee;
    cursor: pointer;
    border-radius: 10px;
}

.main {
    height: 600px;
}

.main-title {
    height: 24px;
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
}

.main-title p {
    margin: 0 0 0 5px;
    color: #000000;
}

.live-select a{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000000;
}

.live-select a img{
    width: 100px;
    margin: 0 20px;
}

.live-select a p {
    margin-left: 20px;
    font-size: 20px;
}